/* Your customized CSS goes here */
[v-cloak] {
  display: none;
}

.shadow-sm h1 {
  font-size: 1.5rem;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(background.jpg);
  background-position-y: bottom;
  height: 100vh;
}
