/* Your customized CSS goes here */
[v-cloak] {
  display: none;
}

.shadow-sm h1 {
  font-size: 1.5rem;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(background.jpg);
  background-position-y: bottom;
  height: 100vh;
}

.main-container {
  background: transparent;
  backdrop-filter: blur(0.3em);
  border: 2px solid rgb(159,185,182);
}

.user-input {
  display: flex;
  justify-content: space-evenly;
}

.btn, .deleteButton {
  background-color: rgb(159,185,182);
}

.form-check-input:checked {
  background-color: rgb(159,185,182);
  border-color: rgb(159,185,182);
}

/* h1 {
  color: rgb(159,185,182);
} */
